li {
  list-style-type: none;
  color: #e40007;
}

@media screen and (min-width: 300px) {
  .col-md-3 {
    background-color: blue;
  }
}

@media screen and (min-width: 500px) {
  .col-md-3 {
    background-color: purple;
  }
}
.magic {
  background-color: #99d6ff;
  font-size: 1em;
  color: #004d00;
  padding: 10px;
  margin: 30px;
  border-radius: 5px;
  border-color: #fff;
  border-style: dotted;
}
